@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm-9: 13.9px;
  --font-size-sm-5: 13.5px;
  --font-size-sm-2: 13.2px;
  --font-size-sm-1: 13.1px;
  --font-size-base-8: 15.8px;
  --font-size-sm-6: 13.6px;
  --font-size-sm-7: 13.7px;
  --font-size-sm-3: 13.3px;
  --font-size-sm-8: 13.8px;
  --font-size-sm: 14px;
  --font-size-base-4: 15.4px;
  --font-size-mini-9: 14.9px;
  --font-size-base-1: 15.1px;
  --font-size-3xl-9: 22.9px;
  --font-size-lg: 18px;
  --font-size-104xl-3: 123.3px;
  --font-size-12xl: 31px;
  --font-size-30xl: 49px;
  --font-size-3xl-7: 22.7px;
  --font-size-101xl-1: 120.1px;
  --font-size-11xl: 30px;
  --font-size-29xl: 48px;
  --font-size-lgi-5: 19.5px;
  --font-size-lg-6: 18.6px;
  --font-size-lg-8: 18.8px;
  --font-size-lgi-1: 19.1px;
  --font-size-3xs-9: 9.9px;
  --font-size-26xl-4: 45.4px;
  --font-size-8xl: 27px;
  --font-size-17xl: 36px;
  --font-size-base-3: 15.3px;
  --font-size-9xl-6: 28.6px;
  --font-size-4xl: 23px;
  --font-size-9xl-8: 28.8px;
  --font-size-4xl-1: 23.1px;
  --font-size-101xl-6: 120.6px;
  --font-size-xl: 20px;
  --font-size-2xl: 21px;
  --font-size-40xl: 59px;
  --font-size-26xl-9: 45.9px;
  --font-size-9xl: 28px;
  --font-size-18xl: 37px;
  --font-size-26xl-8: 45.8px;
  --font-size-base: 16px;
  --font-size-100xl-1: 119.1px;
  --font-size-41xl: 60px;
  --font-size-98xl-5: 117.5px;
  --font-size-16xl: 35px;
  --font-size-base-5: 15.5px;
  --font-size-9xl-7: 28.7px;
  --font-size-100xl-9: 119.9px;
  --font-size-mini: 15px;
  --font-size-10xl-2: 29.2px;
  --font-size-10xl-1: 29.1px;
  --font-size-101xl-5: 120.5px;
  --font-size-mid-2: 17.2px;
  --font-size-base-6: 15.6px;
  --font-size-mini-8: 14.8px;

  /* Colors */
  --color-lavender: #e6e0f4;
  --color-mediumslateblue-100: #7559ff;
  --color-mediumslateblue-200: rgba(117, 89, 255, 0.1);
  --color-gray-100: #232833;
  --color-gray-200: #222;
  --color-gray-300: #0c062c;
  --color-gray-400: #0b071e;
  --color-gray-500: #0b002c;
  --color-gray-600: rgba(255, 255, 255, 0.1);
  --color-gray-700: rgba(0, 0, 0, 0.5);
  --color-gray-800: rgba(255, 255, 255, 0);
  --color-plum-100: #bbadff;
  --color-white: #fff;
  --color-black: #000;
  --color-darkblue: #341da6;
  --color-dimgray: #4e5666;
  --color-blueviolet: rgba(111, 82, 253, 0.5);
  --color-silver: #bcc1cc;

  /* Gaps */
  --gap-39xl: 58px;
  --gap-10xl: 29px;
  --gap-16xl: 35px;
  --gap-51xl: 70px;
  --gap-70xl: 89px;
  --gap-3xl: 22px;
  --gap-25xl: 44px;
  --gap-mid: 17px;
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-3xs: 10px;
  --gap-5xs: 8px;
  --gap-5xl: 24px;
  --gap-6xs: 7px;
  --gap-40xl: 59px;
  --gap-10xs: 3px;
  --gap-11xs: 2px;
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-29xl: 48px;
  --gap-303xl: 322px;
  --gap-142xl: 161px;
  --gap-21xl: 40px;
  --gap-61xl: 80px;
  --gap-15xl: 34px;
  --gap-22xl: 41px;
  --gap-6xl: 25px;
  --gap-45xl: 64px;
  --gap-13xl: 32px;
  --gap-140xl: 159px;
  --gap-60xl: 79px;
  --gap-xs: 12px;
  --gap-71xl: 90px;
  --gap-26xl: 45px;
  --gap-9xl: 28px;
  --gap-4xs: 9px;
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-8xl: 27px;
  --gap-97xl: 116px;
  --gap-32xl: 51px;
  --gap-9xs: 4px;
  --gap-52xl: 71px;
  --gap-lg: 18px;
  --gap-20xl: 39px;
  --gap-lgi: 19px;
  --gap-48xl: 67px;
  --gap-14xl: 33px;
  --gap-27xl: 46px;
  --gap-4xl: 23px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-19xl: 38px;
  --gap-23xl: 42px;

  /* Paddings */
  --padding-sm: 14px;
  --padding-7xs: 6px;
  --padding-29xl: 48px;
  --padding-xl: 20px;
  --padding-44xl: 63px;
  --padding-2xl: 21px;
  --padding-12xl: 31px;
  --padding-22xl: 41px;
  --padding-53xl: 72px;
  --padding-47xl: 66px;
  --padding-54xl: 73px;
  --padding-45xl: 64px;
  --padding-28xl: 47px;
  --padding-13xl: 32px;
  --padding-14xl: 33px;
  --padding-308xl: 327px;
  --padding-5xl: 24px;
  --padding-11xl: 30px;
  --padding-48xl: 67px;
  --padding-144xl: 163px;
  --padding-95xl: 114px;
  --padding-38xl: 57px;
  --padding-25xl: 44px;
  --padding-87xl: 106px;
  --padding-mid: 17px;
  --padding-base: 16px;
  --padding-129xl: 148px;
  --padding-136xl: 155px;
  --padding-77xl: 96px;
  --padding-82xl: 101px;
  --padding-21xl: 40px;
  --padding-24xl: 43px;
  --padding-43xl: 62px;
  --padding-23xl: 42px;
  --padding-16xl: 35px;
  --padding-4xs: 9px;
  --padding-12xs: 1px;
  --padding-xs: 12px;
  --padding-10xl: 29px;
  --padding-lg: 18px;
  --padding-8xl: 27px;
  --padding-mini: 15px;
  --padding-7xl: 26px;
  --padding-11xs: 2px;
  --padding-9xs: 4px;
  --padding-170xl: 189px;
  --padding-174xl: 193px;
  --padding-106xl: 125px;
  --padding-17xl: 36px;
  --padding-195xl: 214px;
  --padding-120xl: 139px;
  --padding-40xl: 59px;
  --padding-39xl: 58px;
  --padding-92xl: 111px;
  --padding-245xl: 264px;
  --padding-153xl: 172px;
  --padding-93xl: 112px;
  --padding-19xl: 38px;
  --padding-9xl: 28px;
  --padding-lgi: 19px;
  --padding-15xl: 34px;
  --padding-169xl: 188px;
  --padding-122xl: 141px;
  --padding-33xl: 52px;
  --padding-2xs: 11px;

  /* Border radiuses */
  --br-5xl: 24px;
  --br-xs: 12px;
  --br-21xl: 40px;
  --br-6xl-5: 25.5px;
  --br-423xl-7: 442.7px;
  --br-2176xl: 2195px;
  --br-6xl: 25px;
  --br-420xl-2: 439.2px;
}
